body {
    background-image: url('../bg.avif');
    background-size: cover; /* This ensures the image covers the entire background */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position: center; /* This centers the image on the page */
}


.title {
    text-align: center;
}

.term {
    border: solid 3px rgb(92, 91, 91);
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 100px;
}

.definition {
    border: solid 3px rgb(33, 33, 146);
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 60px;
    display: none;
}

.button{
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 20px;
    border-radius: 15px;
    margin: 5px ;
}

button:hover {
    transform: scale(1.1);
}