body {
    background-image: url('../bg.avif');
    background-size: cover; /* This ensures the image covers the entire background */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position: center; /* This centers the image on the page */
}

.home {
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;     /* Vertical alignment */
    height: 100vh; 
    flex-direction: column;
    
}

.title{
    font-family: 'Bad Script';font-size: 22px;

}

.add {
    background-color: rgb(2, 30, 78);
    color: aliceblue;
    border-radius: 8px;
    border: solid 2px black;
    margin-right: 5px;
}

.editButton {
    background-color: rgb(158, 173, 83);
    color: aliceblue;
    border-radius: 8px;
    border: solid 2px black;
    margin-right: 5px;
    margin-top: 10px;
}

.review {
    background-color: rgb(70, 112, 70);
    color: aliceblue;
    border-radius: 8px;
    border: solid 2px black;
    
}

button:hover {
    transform: scale(1.1);
}